body{
   color:white;
   background-color:#191b30;
 }
.container{   background-color:#394166;
        width:650px;
        height:50px;
        margin:auto;
        margin-top:50px

  }
ul{
   list-style-type:none;

   }
   li{
     padding-right:40px;
     float:left;
     padding-top:15px;


     }

.two{
    background-color:#394166;
    width:200px;
    height:116px;
    float:left;
    margin-top:20px;
    margin-left:307px;

    }
.twoo1{
 background-color:#394166;
    width:200px;
    height:30px;
    padding-top:10px;

}
.twoo2{
background-color:#394166;
    width:200px;
    height:30px;
    padding-top:10px;}

.twoo3{
background-color:#394166;
    width:200px;
    height:30px;
    padding-top:10px;}
.twoo4{
    background-color:#394166;
        width:200px;
        height:30px;
        padding-top:10px;}
.twoo5{
background-color:#394166;
    width:200px;
    height:30px;
    padding-top:10px;}
.twoo6{
background-color:#394166;
    width:200px;
    height:30px;
    padding-top:10px;}


.three{
      background-color:#394166;
      width:200px;
      height:275px;
      float:left;
      margin-top:20px;
      margin-left:20px;

      }
#m1,#m2,#m3{
      width:33.33%;
      height:5px;

}
#m1{
    background-color:yellow;
    float:left;
    }
#m2{
background-color:green;
    float:left;
    }
#m3{
background-color:red;
    float:left;
    }
#m4,#m5,#m6{

      height:20px;
      width:33%;
      float:left;
      text-align:center;
      padding-top:7px;
}


.four{
     background-color:#394166;
     width:210px;
     height:150px;
     float:left;
     margin-top:20px;
     margin-left:20px;}

.four1{
      float:left;
      background-color:#394166;
      width:200px;
      height:15px;
      padding-top:10px;
      }
.four2{
           float:left;
           background-color:#394166;
           width:200px;
           height:30px;
           padding-top:1px;
     }
.five{
clear:left;
float:right;


background-color:#394166;
      width:210px;
      height:230px;
      margin-right:307px;
      margin-top:-110px;


      }
.five1{
     background-color:#394166;
           width:200px;
           height:30px;
           padding-top:1px;
     }
.five2{
     background-color:#394166;
           width:200px;
           height:30px;
           padding-top:30px;
     }
.five3{
     background-color:#394166;
           width:200px;
           height:30px;
           padding-top:5px;
     }
.five5{
      background-color:blue;
                  width:210px;
                  height:25px;

                  padding-bottom:2px;
      }
.six{
clear:left;
float:right;


      background-color:red;
      width:200px;
      height:120px;
      margin-right:20px;
      margin-top:10px;
      }
.six1{
     background-color:darkred;
     padding-right:30px;
     height:30px;
     padding-top:5px;
     }
.six2{
     background-color:darkred;
     padding-right:30px;
     height:0px;
     padding-top:5px;
     }
.seven{
clear:left;
float:right;


      background-color:#394166;
      width:200px;
      height:130px;
      margin-right:20px;
      margin-top:-10px;
      padding-top:10px;
      }

